<div>
	
</div>
{% schema %}
{
  "name": "custom-banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "custom-banner",
      "settings": {}
    }
  ]
}
{% endschema %}
